/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
}

html, body {
    /* Colors */
    --black: hsl(240, 6%, 13%);;
    --gray: hsl(240, 9%, 89%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;

    background: #15101b;
    background: url(img/desktop.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background: url(img/bg.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Selo Rocketseat */

.selo {
    animation: rotate 30s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

h1 {
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a {
    color: var(--gray);
    text-decoration: none;

    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    line-height: 1.5;
}

.hastag {
    font-weight: 700;

    color: transparent;
    background-image: linear-gradient(90deg, #00F260, #7549dd);
    background-clip: text;
    -webkit-background-clip: text;
  }

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;

    justify-content: center;
}

li a {
    transition: 0.3s;
    display: inline-block;
  }
  
  li a:hover {
    transform: translateY(-10px);
  }

.rocketseat {
    margin-top: 5rem;
}

.rocketseat img {
    width: 7rem;
}

/* Responsive */

@media (min-width: 720px) {
    main {
      background: url(img/bg-desktop.svg) no-repeat center/cover;
      min-height: 740px;
    }

    .avatar {
        margin: 13rem auto 0;
    }
  
    ul {
      margin-top: 2.5rem;
    }
  }
  
  @media (min-width: 960px) {
    main {
      background: url(img/bg-desktop.svg) no-repeat center/cover;
      min-height: 740px;
    }
  
    ul {
      margin-top: 2.5rem;
    }
  }

  @media (max-height: 768px) {
    main {
        background: url(img/bg-desktop.svg) no-repeat center/cover;
        min-height: 740px;
      }
  
      .avatar > img  {
              width: 7rem;
              height: 8.5rem;
      }

      h1 {
        font-size: 1.2rem;
    
        margin-top: 1rem;
    }

    #userGitHub a {
        font-size: .9rem;
    }

    #userGitHub a img {
        width: 0.9rem;
    }
    
    p {
        margin-top: 1.6rem;
        margin-bottom: 0.9rem;
        font-size: 0.83rem;
    }

    .hastag {
        font-size: 0.9rem;
      }
    
      ul {
        margin-top: 1rem;
      }

      #socialLinks img {
          width: 2.5rem;
      }
  
      .rocketseat {
          margin-top: 1.5rem;
      }

      .rocketseat img {
        width: 5.5rem;
    }
    }